---
layout: layouts/base.njk
permalink: / 
---

Hello World! Welcome to My web site, my name is Faraz Eskandari!
I'm a video designer from iran tehran. I have experience in creative coding and motion design.
I will be so glad if you hire me for your fucking shit projects. Thank you mother fuckers.